<!DOCTYPE html>
<html>
  <body>
    <p>Hallo {{Vorname}} {{Nachname}},</p>
    <p>
      Ihr Konto beim Ferienabenteuer Bamberg wurde erfolgreich aktiviert. Eine
      Übersicht der Veranstaltungen finden Sie unter folgendem Link:
    </p>
    <p>
      <a href="https://ferienabenteuer-bamberg.de/veranstaltungen"
        >Zu den Veranstaltungen</a
      >
    </p>
    <p>Wir wünschen spannende Ferienabenteuer!</p>
    <p>Viele Grüße,<br />Ihr Team des Ferienabenteuers Bamberg</p>
  </body>
</html>
