<!DOCTYPE html>
<html>
  <body>
    <p>Eine neue Buchung zu einer Ihrer Veranstaltungen wurde registriert:</p>

    <strong>Angaben zur Veranstaltung</strong>
    <p>
      <strong>Veranstaltung:</strong> {{Name Veranstaltung}}<br />
      <strong>Veranstaltungsort/Treffpunkt:</strong> {{Ort/Treffpunkt}}<br />
      <strong>Datum:</strong> {{Datum Veranstaltung von bis}}<br />
    </p>

    <strong>Angaben zur Buchung</strong>
    <p>
      <strong>Buchungsnummer:</strong> {{Buchungsnummer}}<br />
      <strong>Buchungsdatum:</strong> {{Buchungsdatum}}<br />
      <strong>Sorgeberechtigter:</strong> {{Name Sorgeberechtigter}}<br />
      <strong>Kind/er:</strong> {{Name Kind}}<br />
      <strong>Betrag:</strong> {{Betrag}} Euro<br />
    </p>

    <p>
      Sie finden diese und weitere Buchungen im Verwaltungsportal unter
      <a href="https://admin.ferienabenteuer-bamberg.de/buchungen"
        >https://admin.ferienabenteuer-bamberg.de/buchungen</a
      >.
    </p>

    <p>Mit freundlichen Grüßen<br />Ihre Familienregion Bamberg</p>
  </body>
</html>
