<!DOCTYPE html>
<html>
  <body>
    <p>Sehr geehrter Herr/Sehr geehrte Frau {{Vorname}} {{Nachname}},</p>

    <p>
      Hiermit bestätigen wir den Zahlungseingang für folgende Veranstaltung:
    </p>

    <p>
      <strong>Veranstaltung:</strong> {{Name Veranstaltung}}<br />
      <strong>Datum:</strong> {{Datum Veranstaltung von bis}}<br />
      <strong>Kind:</strong> {{Name Kind}}<br />
      <strong>Buchungsnummer:</strong> {{Buchungsnummer}}
    </p>

    <p>
      Bei Fragen zur Veranstaltung oder Ihrer Buchung wenden Sie sich bitte
      direkt an Ihren Veranstalter, die Kontaktdaten finden Sie am Ende dieser
      Mail. Bei allgemeinen Fragen zum Ferienabenteuer steht Ihnen die
      Generationenbeauftragte des Landkreises zur Verfügung, Telefon: 0951 /
      85-510.
    </p>

    <p>Wir wünschen Ihrem Kind ein schönes Ferienabenteuer!</p>

    <p>
      Mit freundlichen Grüßen<br />
      Ihre Familienregion Bamberg
    </p>

    <p>
      <strong>Veranstalter:</strong><br />
      {{Kontaktdaten Veranstalter}}
    </p>
  </body>
</html>
