<!DOCTYPE html>
<html>
  <body>
    <p>Sehr geehrter Herr/Sehr geehrte Frau {{Vorname}} {{Nachname}},</p>

    <p>
      gute Nachrichten: in Ihrer gewünschten Veranstaltung ist ein Platz frei
      geworden!
    </p>
    <p>
      Ihr Kind {{Name Kind}} von der Warteliste für folgende Veranstaltung
      nachgerückt:
    </p>

    <p>
      <strong>Veranstaltung:</strong> {{Name Veranstaltung}}<br />
      <strong>Datum:</strong> {{Datum Veranstaltung von bis}}<br />
      <strong>Buchungsnummer:</strong> {{Buchungsnummer}}
    </p>

    <p>Alle Details zu Ihrer Veranstaltung finden Sie unten zusammengefasst.</p>

    <p>
      <strong>
        Bitte teilen Sie dem Veranstalter umgehend mit, ob Sie den
        freigewordenen Platz nutzen möchten, damit der Platz ggf. wieder
        freigegeben werden kann.
      </strong>
    </p>

    <p>
      <strong>
        Wenn Sie den Platz nutzen möchten, reichen Sie bitte Ihren
        Ermäßigungsnachweis umgehend - spätestens bis {{Datum in 14 Tagen}} -
        ein bei:
      </strong>
    </p>

    <p>
      Landratsamt Bamberg<br />
      Maarit Stierle<br />
      Ludwigstraße 23<br />
      96052 Bamberg<br />
      Telefon: 0951 / 85-510<br />
      E-Mail:
      <a href="mailto:maarit.stierle@lra-ba.bayern.de"
        >maarit.stierle@lra-ba.bayern.de</a
      >
    </p>

    <p>Ermäßigungen können in 2 Fällen gewährt werden:</p>
    <ul>
      <li>
        Bei <strong>Kinderreichtum</strong> (Bezug von Kindergeld für 3 oder
        mehr Kinder): 50 % Ermäßigung für ein Kind (nicht übertragbar, auch
        nicht innerhalb der Familie).<br />Nachweis: aktueller
        Kindergeldbescheid oder personalisierter Kontoauszug mit Eingang der
        Kindergeldzahlung (beides nicht älter als ein Jahr).<br />Es können bis
        zu 4 Abenteuerwochen ermäßigt werden.
      </li>
      <li>
        Bei <strong>geringem Einkommen</strong>: 50 % Ermäßigung für alle Kinder
        der Familie.<br />Nachweis: aktueller Bescheid über ALG II, Sozialhilfe
        oder Wohngeld (jeweils nicht älter als ein Jahr) oder Vorliegen der
        SozCard.<br />
        Es können pro Kind bis zu 4 Abenteuerwochen ermäßigt werden.
      </li>
    </ul>

    <p>
      Sobald der Nachweis vorliegt, erhalten Sie die ermäßigte Rechnung. Von
      vorzeitigen Überweisungen bitten wir abzusehen.<br />Bitte beachten Sie:
      Mit Ihrer Buchungsanfrage wurde Ihnen ein Platz bei der genannten
      Veranstaltung reserviert. Sollten wir innerhalb der nächsten 14 Tage
      nichts von Ihnen hören, verfällt die Reservierung und der Platz wird im
      Buchungssystem wieder verfügbar.
    </p>

    <p>
      Weitere Informationen zu den Kosten und Ermäßigungen finden Sie unter
      <a href="https://ferienabenteuer-bamberg.de/#kosten"
        >https://ferienabenteuer-bamberg.de/#kosten</a
      >.
    </p>

    <p>Mit freundlichen Grüßen<br />Ihre Familienregion Bamberg</p>

    <strong>Details zu Ihrer Veranstaltung</strong>
    <p>
      <strong>{{Name Veranstaltung}}</strong><br />
      {{Beschreibung der Veranstaltung}}
    </p>

    <p><strong>Auf einen Blick:</strong><br /></p>
    <ul>
      <li><strong>{{Datum Veranstaltung von bis}}</strong></li>
      <li><strong>Betreuungszeit:</strong> {{von bis}}</li>
      <li><strong>Veranstaltungsort/Treffpunkt:</strong> {{Ort/Treffpunkt}}</li>
    </ul>
    <p>
      <strong>Veranstalter:</strong><br />
      {{Kontaktdaten Veranstalter}}
    </p>
  </body>
</html>
