<!DOCTYPE html>
<html>
  <body>
    <p>Sehr geehrter Herr/Sehr geehrte Frau {{Vorname}} {{Nachname}},</p>

    <p>
      Vielen Dank für Ihre Anmeldung beim Bamberger Ferienabenteuer! Sie haben
      folgende Veranstaltung erfolgreich gebucht:
    </p>

    <p>
      <strong>Veranstaltung:</strong> {{Name Veranstaltung}}<br />
      <strong>Datum:</strong> {{Datum Veranstaltung von bis}}<br />
      <strong>Kind:</strong> {{Name Kind}}<br />
      <strong>Buchungsnummer:</strong> {{Buchungsnummer}}
    </p>

    <p>
      Alle Details zu Ihrer Veranstaltung finden Sie unten zusammengefasst.
      Bitte überweisen Sie die Veranstaltungskosten in Höhe von {{Betrag}} Euro
      unter Angabe des Verwendungszwecks bis {{Datum in 14 Tagen nach Buchung}}
      auf das Konto:
    </p>

    <p>
      <strong>Veranstalter:</strong> {{Name Veranstalter}}<br />
      <strong>IBAN:</strong> {{IBAN Veranstalter}}<br />
      <strong>Verwendungszweck:</strong> Ferienabenteuer, {{Nachname Kind}},
      {{Buchungsnummer}}
    </p>

    <p>
      Sie können diesen Vertrag binnen vierzehn Tagen ohne Angabe von Gründen
      widerrufen. Ausführliche Informationen dazu finden Sie unter
      <a href="https://ferienabenteuer-bamberg.de/widerruf"
        >https://ferienabenteuer-bamberg.de/widerruf</a
      >.
    </p>

    <p>
      Werden die Veranstaltungskosten nicht rechtzeitig bezahlt, kann der
      Veranstalter ohne weitere Fristsetzung vom Vertrag zurücktreten.
    </p>

    <p>
      Bei Fragen zur Veranstaltung oder Ihrer Buchung wenden Sie sich bitte
      direkt an Ihren Veranstalter, die Kontaktdaten finden Sie am Ende dieser
      Mail. Bei allgemeinen Fragen zum Ferienabenteuer steht Ihnen die
      Generationenbeauftragte des Landkreises zur Verfügung, Telefon: 0951 /
      85-510.
    </p>

    <p>Wir wünschen Ihrem Kind ein schönes Ferienabenteuer!</p>

    <p>Mit freundlichen Grüßen<br />Ihre Familienregion Bamberg</p>

    <strong>Details zu Ihrer Veranstaltung</strong>
    <p>
      <strong>{{Name Veranstaltung}}</strong><br />
      {{Beschreibung der Veranstaltung}}
    </p>

    <p><strong>Auf einen Blick:</strong><br /></p>
    <ul>
      <li><strong>{{Datum Veranstaltung von bis}}</strong></li>
      <li><strong>Betreuungszeit:</strong> {{von bis}}</li>
      <li><strong>Veranstaltungsort/Treffpunkt:</strong> {{Ort/Treffpunkt}}</li>
    </ul>
    <p>
      <strong>Veranstalter:</strong><br />
      {{Kontaktdaten Veranstalter}}
    </p>
  </body>
</html>
