<!DOCTYPE html>
<html>
  <body>
    <p>Sehr geehrter Herr/Sehr geehrte Frau {{Vorname}} {{Nachname}},</p>

    <p>
      Ihr Kind {{Name Kind}} ist in der Warteliste Ihrer gewünschten
      Veranstaltung nun auf Platz {{Wartelistenplatz}}
    </p>
    <p>
      <strong>Veranstaltung:</strong> {{Name Veranstaltung}}<br />
      <strong>Datum:</strong> {{Datum Veranstaltung von bis}}<br />
      <strong>Kind:</strong> {{Name Kind}}
    </p>

    <p>
      <strong
        >Bitte überweisen Sie jetzt noch kein Geld. Sobald ein regulärer Platz
        frei wird oder Ihre Kostenermäßigung genehmigt wird, werden Sie
        benachrichtigt. Sie können dann entscheiden, ob Sie den Platz wahrnehmen
        möchten oder nicht. Sollte bereits im Vorfeld klar werden, dass Sie den
        Platz nicht mehr benötigen, bitten wir um kurze Info an Ihren
        Veranstalter (siehe unten).</strong
      >
    </p>

    <p>
      Mit freundlichen Grüßen<br />
      Ihre Familienregion Bamberg
    </p>

    <strong>Details zu Ihrer Veranstaltung</strong>
    <p>
      <strong>{{Name Veranstaltung}}</strong><br />
      {{Beschreibung der Veranstaltung}}
    </p>

    <p><strong>Auf einen Blick:</strong><br /></p>
    <ul>
      <li><strong>{{Datum Veranstaltung von bis}}</strong></li>
      <li><strong>Betreuungszeit:</strong> {{von bis}}</li>
      <li><strong>Veranstaltungsort/Treffpunkt:</strong> {{Ort/Treffpunkt}}</li>
    </ul>
    <p>
      <strong>Veranstalter:</strong><br />
      {{Kontaktdaten Veranstalter}}
    </p>
  </body>
</html>
