<!DOCTYPE html>
<html>
  <body>
    <p>{{Anrede}},</p>

    <p>
      beim Anlegen ihres unten genannten Kindes im Profil haben Sie den Bedarf
      an Assistenzkraft angegeben.
    </p>

    <p>
      <strong>Veranstaltung:</strong> {{Name Veranstaltung}}<br />
      <strong>Datum:</strong> {{Datum Veranstaltung von bis}}<br />
      <strong>Kind:</strong> {{Name Kind}}<br />
      <strong>Buchungsnummer:</strong> {{Buchungsnummer}}
    </p>

    <p>
      Wenn Sie für Ihr Kind bei einer Veranstaltung des Ferienabenteuers eine
      Assistenzkraft benötigen, wenden Sie sich bitte an die Offene
      Behindertenarbeit der Lebenshilfe Bamberg (Frau Melanie Bernt, 0951 / 1897
      2104), die Ihnen bei der Vermittlung helfen kann. Pro Kind kann eine
      Assistenz für 10 Angebotstage kostenfrei angeboten werden.
    </p>

    <p>Mit freundlichen Grüßen<br />Ihre Familienregion Bamberg</p>
  </body>
</html>
