@import "assets/fonts/MaterialIcons/material-icons.scss";

@import "ngx-toastr/toastr";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Calibri";
  src: url("assets/fonts/Calibri/calibri_regular-webfont.woff2") format("woff2"),
    url("assets/fonts/Calibri/calibri_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: url("assets/fonts/Calibri/calibri_bold-webfont.woff2") format("woff2"),
    url("assets/fonts/Calibri/calibri_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: url("assets/fonts/Calibri/calibri_light-webfont.woff2") format("woff2"),
    url("assets/fonts/Calibri/calibri_light-webfont.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

body {
  @apply bg-white min-h-[100vh] flex justify-center;
  @apply text-black font-calibri text-base;
}

input[type="text"],
input[type="number"],
input[inputmode="decimal"],
input[type="date"],
input[type="password"],
input[type="email"],
select:not(.goog-te-combo),
textarea {
  @apply rounded-md border border-primaryDark/20 p-2 my-1 text-sm;

  &:hover {
    @apply border-primaryLight;
  }

  &:focus-visible {
    @apply shadow-[0_0_.2rem_#24524b] border-primaryLight;
  }

  &.ngrx-forms-invalid.ngrx-forms-submitted {
    @apply border-red-600;
  }

  &:disabled {
    @apply bg-gray-200;
  }
}

.form-invalid {
  @apply border-yellow-600;
}

select option {
  @apply text-base;
}

label {
  @apply text-base font-semibold text-primaryDark;
}

button {
  @apply flex flex-row items-center justify-center bg-primaryLight border-2 border-primaryDark/40 rounded-lg text-neutralWhite px-2 text-base font-normal;

  &:hover {
    @apply brightness-110;
  }

  &:active {
    @apply brightness-90;
  }

  &.secondary {
    @apply bg-neutralWhite text-primaryLight border-2 border-primaryLight;
  }

  &.danger {
    @apply bg-[#E90C0C];
  }

  &:disabled {
    @apply bg-neutralGrayDark/40 border-neutralGrayDark/10 cursor-not-allowed;

    &:hover {
      @apply brightness-100;
    }

    &:active {
      @apply brightness-100;
    }
  }
}

p {
  @apply flex flex-row;
}

.button {
  @apply flex flex-row items-center justify-center cursor-pointer bg-primaryLight border-2 border-textDark rounded-lg text-neutralWhite py-1 px-4 text-base font-bold;

  &:hover {
    @apply brightness-110;
  }

  &:active {
    @apply brightness-90;
  }
}
.button-white {
  @apply flex flex-row items-center justify-center bg-neutralWhite text-textDark border-[0.1rem] border-textDark rounded-lg py-1 px-4 text-base font-bold;

  &:hover {
    @apply brightness-110;
  }

  &:active {
    @apply brightness-90;
  }
}
.badge {
  @apply flex justify-center border px-2 rounded-md font-black uppercase;
  &.red {
    @apply border-primaryRed text-primaryRed bg-primaryRed/10;
  }
  &.redInBanner {
    @apply border-[#FF8082] text-[#FF8082];
  }
  &.orange {
    @apply border-[#CC3900] text-[#CC3900] bg-primaryOrange/10;
  }
  &.orangeInBanner {
    @apply border-[#FF895C] text-[#FF895C];
  }
  &.yellow {
    @apply border-primaryYellow text-primaryYellow bg-primaryYellow/10;
  }
  &.green {
    @apply border-[#007565] text-[#007565] bg-primaryGreen/10;
  }
  &.greenInBanner {
    @apply border-[#00BDA3] text-[#00BDA3];
  }
  &.blue {
    @apply border-secondaryBlue text-secondaryBlue bg-secondaryBlue/10;
  }
  &.gray {
    @apply border-[#666666] text-[#666666] bg-secondaryGray/10;
  }
}

.divider {
  @apply border-gray-500 border-opacity-20 border-b-2;
}
.white-card {
  @apply bg-white rounded-xl border border-primaryLight/30 border-opacity-20 p-4 md:p-6 shadow-md;
}

.checkbox {
  @apply appearance-none w-4 h-4 bg-white ring-1 ring-[#757575] rounded-full checked:bg-primaryLight focus:ring-primaryLight/20 focus:ring-2;
  &.ngrx-forms-invalid.ngrx-forms-submitted {
    @apply border-2 border-red-600;
  }
}
.checkbox::before {
  @apply content-[""] mb-[0.26rem] w-4 h-4 checked:inline-block pointer-events-none;
  background-image: url("/assets/images/checked.svg");
}

.site-title {
  @apply font-extrabold text-2xl ml-4 mb-6 pt-3;
}

.icon-box {
  @apply h-10 w-10 p-1 bg-primaryLight/10 rounded flex items-center justify-center;
  .mi {
    @apply text-2xl text-primaryLight;
  }
}

.responsive-toast-position {
  @screen md {
    @apply toast-top-right mt-20;
  }

  @media (max-width: 640px) {
    @apply toast-top-center mt-2;
  }
}

.landing-page-padding {
  @apply px-5 md:px-12 lg:px-28 xl:px-32 2xl:px-64;
}

.landing-page-section {
  @apply my-12 md:my-32 flex flex-col items-center justify-center gap-10 md:gap-20;
}

.landing-section-title {
  @apply text-3xl sm:text-3xl lg:text-6xl text-center;
}

.toast-success {
  background-color: #428542 !important;
}
.toast-warning {
  background-color: #a96504 !important;
}
.toast-info {
  background-color: #267992 !important;
}

.link {
  @apply text-linkTextColor underline;
  &:hover {
    @apply brightness-150;
  }
}

.error-text::after {
  @apply text-sm content-["Bitte_Pflichtfeld_ausfüllen"] text-red-600 leading-none;
}

.goog-te-gadget {
  @apply bg-[#e9e9e9] py-[0.1rem] px-[0.3rem] rounded-[0.3rem];
}
.goog-te-gadget img {
  @apply hidden;
}
.goog-te-combo {
  font-size: 0.6rem !important;
  line-height: 2;
  @screen md {
    font-size: 0.75rem !important;
  }
}
.goog-te-gadget {
  font-size: 0.5rem !important;
  line-height: 2;
  @screen md {
    font-size: 0.75rem !important;
  }
}
#google_translate_element a {
  @apply text-[0.5rem] md:text-[0.8rem];
}

.toast-container {
  @apply leading-tight;
}
