/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "assets/fonts/MaterialIcons/material-icons.scss";

@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-indigo/theme.css";

@font-face {
  font-family: "Calibri";
  src: url("assets/fonts/Calibri/Calibri Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("assets/fonts/Calibri/Calibri Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Calibri";
  src: url("assets/fonts/Calibri/Calibri Light.ttf");
  font-weight: 600;
}

body {
  @apply bg-background min-h-[100vh] flex items-center justify-center text-primaryDark font-calibri text-base;
}

input[type="text"],
input[type="number"],
input[inputmode="decimal"],
input[type="date"],
input[type="password"],
input[type="email"],
select,
textarea {
  @apply rounded-md border border-primaryDark/20 p-2 my-1 text-sm;

  &:hover {
    @apply border-primaryLight;
  }

  &:focus-visible {
    @apply shadow-[0_0_.2rem_#24524b] border-primaryLight;
  }

  &.ngrx-forms-invalid {
    @apply border-yellow-600;
  }

  &:disabled {
    @apply bg-gray-200;
  }
}

.form-invalid {
  @apply border-yellow-600;
}

select option {
  @apply text-base;
}

label {
  @apply text-base font-semibold text-primaryDark;
}

button,
button[type="button"],
.button {
  @apply flex flex-row items-center justify-center bg-primaryLight border border-primaryDark/40 rounded-lg text-neutralWhite p-2 py-1 text-base font-normal gap-2;

  &:hover {
    @apply brightness-110;
  }

  &:active {
    @apply brightness-90;
  }

  &.secondary {
    @apply bg-neutralWhite text-primaryLight border border-primaryLight;
  }

  &.danger {
    @apply bg-secondaryRed/80;
  }

  &:disabled {
    @apply bg-neutralGrayDark/40 border-neutralGrayDark/10 cursor-not-allowed;

    &:hover {
      @apply brightness-100;
    }

    &:active {
      @apply brightness-100;
    }
  }
}

h1 {
  @apply text-lg font-bold;
}

th {
  @apply px-2;

  & div {
    @apply flex flex-row gap-1 justify-start items-center;

    & img {
      @apply h-[.7rem];
    }
  }

  &.sortable {
    @apply cursor-pointer;
  }
}

tbody {
  & tr {
    @apply cursor-pointer;

    &:nth-child(odd) {
      & td {
        @apply border-primaryLight/20;
      }

      @apply bg-primaryLight/10 hover:bg-primaryLight/10;
    }

    &:nth-child(even) {
      & td {
        @apply border-primaryLight/20;
      }

      @apply bg-primaryLight/5 hover:bg-primaryLight/10;
    }
  }
  tr.red {
    & td {
      @apply border-secondaryRed/20;
    }

    @apply bg-secondaryRed/10 hover:bg-secondaryRed/20;
  }
  tr.orange {
    & td {
      @apply border-primaryOrange/20;
    }

    @apply bg-primaryOrange/10 hover:bg-primaryOrange/20;
  }
  tr.yellow {
    & td {
      @apply border-secondaryYellow/20;
    }

    @apply bg-secondaryYellow/10 hover:bg-secondaryYellow/20;
  }
}

td {
  @apply border-y p-1 px-2;
}
td:first-child {
  @apply border border-r-0  rounded-l-md;
}
td:last-child {
  @apply border border-l-0  rounded-r-md;
}

table p {
  @apply flex justify-start;
}

.badge {
  @apply flex justify-center border px-2 py-[0.1rem] rounded-md text-sm font-semibold uppercase;

  &.red {
    @apply border-secondaryRed/30   bg-secondaryRed/20;
  }
  &.orange {
    @apply border-primaryOrange/30   bg-primaryOrange/20;
  }
  &.yellow {
    @apply border-secondaryYellow/30   bg-secondaryYellow/20;
  }
  &.green {
    @apply border-primaryGreen/30  bg-primaryGreen/20;
  }
  &.blue {
    @apply border-secondaryBlue/30  bg-secondaryBlue/20;
  }
  &.gray {
    @apply border-secondaryGray/30  bg-secondaryGray/20;
  }
}

.p-inputtext {
  @apply rounded-md border border-primaryDark p-2 my-1 text-sm;

  &:enabled:hover {
    @apply border-primaryLight;
  }

  &:enabled:focus {
    @apply shadow-[0_0_.2rem_#24524b];
  }
}

p-dropdown {
  @apply flex flex-col;
}

.p-dropdown {
  @apply rounded-md border border-primaryDark text-sm;

  &:not(.p-disabled):hover {
    @apply border-primaryLight;
  }

  &:not(.p-disabled).p-focus {
    @apply shadow-[0_0_.2rem_#24524b] border-primaryLight;
  }
}

.card {
  @apply bg-neutralWhite border rounded-xl border-gray-200 px-4 py-2;
}

.info-icon {
  @apply flex items-center justify-center bg-primaryLight/10 rounded-full w-5 h-5 border text-sm font-semibold;
}

.checkbox {
  @apply appearance-none w-4 h-4 bg-white ring-1 ring-[#24524B] rounded-full checked:bg-[#00A991] focus:ring-[#24524B] focus:ring-2;
}
.checkbox::before {
  @apply mi checked:content-["check"] checked:inline-block pointer-events-none text-sm checked:text-white;
}

.card {
  @apply bg-neutralWhite rounded-xl border border-primaryLight/30 p-4 shadow-md;
}

.divider {
  @apply border-gray-500 border-opacity-20 border-b-2;
}
