<!DOCTYPE html>
<html>
  <body>
    <p>{{Anrede}} {{Vorname}} {{Nachname}},</p>

    <p>folgende Veranstaltung müssen wir leider stornieren bzw. absagen:</p>

    <p>
      <strong>Veranstaltung:</strong> {{Name Veranstaltung}}<br />
      <strong>Datum:</strong> {{Datum Veranstaltung von bis}}<br />
      <strong>Kind:</strong> {{Name Kind}}<br />
      <strong>Buchungsnummer:</strong> {{Buchungsnummer}}
    </p>

    <p>
      Falls Sie bereits einen Teilnahmebetrag überwiesen haben, wird Ihnen der
      Betrag auf Ihr Konto zurücküberwiesen. Details regeln die Allgemeinen
      Geschäftsbedingungen, s.
      <a href="https://ferienabenteuer-bamberg.de/agb"
        >https://ferienabenteuer-bamberg.de/agb</a
      >.
    </p>

    <p>
      Bei Fragen können Sie sich gerne an uns wenden. Unsere Kontaktdaten finden
      Sie am Ende dieser Mail.
    </p>

    <p>Mit freundlichen Grüßen<br />{{Kontaktdaten Veranstalter}}</p>
  </body>
</html>
