<!DOCTYPE html>
<html>
  <body>
    <p>{{Anrede}} {{Vorname}} {{Nachname}},</p>

    <p>
      Sie haben einen Account beim Ferienabenteuer Bamberg. Dieser Account wurde
      seit drei Jahren nicht mehr genutzt. Wenn sie Ihren Account behalten
      möchten, bitten wir Sie sich innerhalb der nächsten 7 Tage einmal unter
      <a href="https://ferienabenteuer-bamberg.de/login"
        >https://ferienabenteuer-bamberg.de/login</a
      >
      einzuloggen.
    </p>
    <p>
      Sollten Sie nichts weiter unternehmen wird ihr Account nach Ablauf der
      Frist gelöscht. Eine Neuregistrierung ist jederzeit unter
      <a href="https://ferienabenteuer-bamberg.de/registrieren"
        >https://ferienabenteuer-bamberg.de/registrieren</a
      >
      möglich.
    </p>
    <br />
    <p>Mit freundlichen Grüßen<br />Ihre Familienregion Bamberg</p>
  </body>
</html>
