<!DOCTYPE html>
<html>
  <body>
    <p>Sehr geehrter Herr/Sehr geehrte Frau {{Vorname}} {{Nachname}},</p>

    <p>
      Sie haben für das Bamberger Ferienabenteuer Ermäßigung beantragt. Ihr
      Antrag wird aus folgendem Grund abgelehnt: {{Ablehnungsgrund einfügen}}.
    </p>

    <p>
      Sollten Sie bereits eine ermäßigte Buchung getätigt haben, erhalten Sie
      automatisch eine Buchungsbestätigung und Rechnung über den regulären
      Preis. Die Buchung kann auf Wunsch innerhalb von 14 Tagen kostenlos
      storniert werden.
    </p>

    <p>Bei Fragen wenden Sie sich gerne an:</p>

    <p>
      <strong>Landratsamt Bamberg</strong><br />
      Maarit Stierle<br />
      Ludwigstraße 23<br />
      96052 Bamberg<br />
      Telefon: 0951 / 85-510<br />
      E-Mail:
      <a href="mailto:maarit.stierle@lra-ba.bayern.de"
        >maarit.stierle@lra-ba.bayern.de</a
      >
    </p>

    <p>
      Weitere Informationen zu den Kosten und Ermäßigungen finden Sie unter
      <a href="https://ferienabenteuer-bamberg.de/#kosten"
        >https://ferienabenteuer-bamberg.de/#kosten</a
      >.
    </p>

    <p>
      Mit freundlichen Grüßen<br />
      Ihre Familienregion Bamberg
    </p>
  </body>
</html>
