<!DOCTYPE html>
<html>
  <body>
    <p>{{Anrede}} {{Vorname}} {{Nachname}},</p>

    <p>
      leider ist der aktuelle Nachweis über Ihre Berechtigung noch nicht bei uns
      eingegangen. Sie können den Nachweis bis spätestens {{Datum in 5 Tagen}}
      vorlegen bei:
    </p>

    <p>
      Landratsamt Bamberg<br />
      Maarit Stierle <br />
      Ludwigstraße 23 <br />
      96052 Bamberg<br />
      Telefon: 0951 / 85-510 <br />
      E-Mail: maarit.stierle@lra-ba.bayern.de
    </p>
    <p>
      Erhalten wir keinen Nachweis, werden die vollen Kosten fällig bzw. Ihre
      Anmeldung auf Wunsch gelöscht.
    </p>
    <p>Mit freundlichen Grüßen<br />Ihre Familienregion Bamberg</p>
  </body>
</html>
