<!DOCTYPE html>
<html>
  <body>
    <p>Hallo {{Vorname}} {{Nachname}},</p>
    <p>Herzlich willkommen beim Ferienabenteuer Bamberg!</p>
    <p>
      Klicken Sie bitte auf folgenden Link, um Ihre Registrierung abzuschließen:
    </p>
    <p><a href="{{Bestätigungslink}}">Bestätigungslink</a></p>
    <p>Viele Grüße,<br />Ihr Team des Ferienabenteuers Bamberg</p>
  </body>
</html>
