<!DOCTYPE html>
<html>
  <body>
    <p>{{Anrede}} {{Vorname}} {{Nachname}},</p>
    <br />
    <p>
      Ihr Account beim Ferienabenteuer Bamberg wurde auf eigenen Wunsch
      gelöscht.
      <br />
      Die Neuregistrierung ist jederzeit möglich unter
      https://ferienabenteuer-bamberg.de/registrieren
    </p>
    <p>
      Mit freundlichen Grüßen<br />
      Ihre Familienregion Bamberg
    </p>
  </body>
</html>
