<!DOCTYPE html>
<html>
  <body>
    <p>Hallo {{Vorname}} {{Nachname}},</p>
    <p>
      Vielen Dank für die Zusendung des Ermäßigungsnachweises. Aufgrund des von
      Ihnen erbrachten Nachweises wurde Ihr Ermäßigungsantrag genehmigt.
    </p>

    <p>
      Mit freundlichen Grüßen<br />
      Ihre Familienregion Bamberg
    </p>
  </body>
</html>
