<!DOCTYPE html>
<html>
  <body>
    <p>{{Anrede}} {{Vorname}} {{Nachname}},</p>
    <p>
      Ihr Account beim Ferienabenteuer Bamberg wurde seit drei Jahren nicht mehr
      genutzt und wurde daher gelöscht. Die Neuregistrierung ist jederzeit
      möglich unter:<br /><a
        href="https://ferienabenteuer-bamberg.de/registrieren"
        >https://ferienabenteuer-bamberg.de/registrieren</a
      >
    </p>
    <br />
    <p>Mit freundlichen Grüßen<br />Ihre Familienregion Bamberg</p>
  </body>
</html>
