<!DOCTYPE html>
<html>
  <body>
    <p>Sehr geehrter Herr/Sehr geehrte Frau {{Vorname}} {{Nachname}},</p>
    <p>
      Vielen Dank für Ihr Interesse am Bamberger Ferienabenteuer. Sie haben eine
      Ermäßigung beantragt, entweder aufgrund von Kinderreichtum oder geringem
      Einkommen.
    </p>

    <p>
      Bei Kinderreichtum (Bezug von Kindergeld für 3 oder mehr Kinder) für Ihr
      Kind {{Vorname Name}} ist eine Ermäßigung des Veranstaltungspreises i.H.v.
      50 % für ein Kind (nicht übertragbar, auch nicht innerhalb der Familie)
      möglich. Es können bis zu 4 Abenteuerwochen ermäßigt werden. Als Nachweis
      benötigen wir Ihren
      <strong>aktuellen Kindergeldbescheid</strong> oder einen
      <strong
        >personalisierten Kontoauszug mit Eingang der Kindergeldzahlung</strong
      >
      (beides nicht älter als ein Jahr).
    </p>

    <p>
      Alternativ, wenn Sie Ermäßigung aufgrund geringen Einkommens beantragt
      haben, erhalten alle Kinder der Familie eine Ermäßigung des
      Veranstaltungspreises i.H.v. 50 %. Es können bis zu 4 Abenteuerwochen pro
      Kind ermäßigt werden. Als Nachweis benötigen wir Ihren
      <strong>aktuellen Bescheid über ALG II, Sozialhilfe oder Wohngeld</strong>
      (jeweils nicht älter als ein Jahr) oder den
      <strong>Nachweis, dass Sie eine SozCard besitzen</strong>.
    </p>

    <p>
      Damit wir Ihre Ermäßigungsanfrage weiter bearbeiten können, legen Sie
      bitte den entsprechenden Nachweis (in Kopie) vor bei:
    </p>

    <p>
      <strong>Landratsamt Bamberg</strong><br />
      Maarit Stierle<br />
      Ludwigstraße 23<br />
      96052 Bamberg<br />
      Telefon: 0951 / 85-510<br />
      E-Mail:
      <a href="mailto:maarit.stierle@lra-ba.bayern.de"
        >maarit.stierle@lra-ba.bayern.de</a
      >
    </p>

    <p>
      Weitere Informationen zu den Kosten und Ermäßigungen finden Sie unter
      <a href="https://ferienabenteuer-bamberg.de/#kosten"
        >https://ferienabenteuer-bamberg.de/#kosten</a
      >.
    </p>

    <p>
      Mit freundlichen Grüßen<br />
      Ihre Familienregion Bamberg
    </p>
  </body>
</html>
